key/*
csv/mock*
csv/matching*
csv/professional.csv
csv/respostas.csv
__pycache__/
.pytest_cache__/
main.spec
build/
.venv/
venv/
test/__pycache__/*
dist/
dist/main
dist/main.exe
logs/
venv/
Perguntas_p_luiza
.env
src/sandbox.py